<table border='1' style='border-collapse: separate;'>
	<tr><th>Team</th><td>{{ team_data.team }}</td></tr>
	<tr><th>Division</th><td>{{ team_data.division }}</td></tr>
	<tr><th>Games Played</th><td>{{ team_data.gamesplayed }}</td></tr>
	<tr><th>Games Won</th><td>{{ team_data.gameswon }}</td></tr>
	<tr><th>Games Lost</th><td>{{ team_data.gameslost }}</td></tr>
	<tr><th>Games Drawn</th><td>{{ team_data.gamesdrawn }}</td></tr>
	<tr><th>Games Played At Home</th><td>{{ team_data.gamesplayedathome }}</td></tr>
	<tr><th>Games Played Away</th><td>{{ team_data.gamesplayedaway }}</td></tr>
	<tr><th>Games Won At Home</th><td>{{ team_data.gameswonathome }}</td></tr>
	<tr><th>Games Won Away</th><td>{{ team_data.gameswonaway }}</td></tr>
	<tr><th>Games Lost At Home</th><td>{{ team_data.gameslostathome }}</td></tr>
	<tr><th>Games Lost Away</th><td>{{ team_data.gameslostaway }}</td></tr>
	<tr><th>Points For</th><td>{{ team_data.pointsfor }}</td></tr>
	<tr><th>Points Against</th><td>{{ team_data.pointsagainst }}</td></tr>
	<tr><th>Playoffs</th><td>{{ team_data.playoffs }}</td></tr>
</table>