{% extends "layouts/base.html" %}
{% set project = "Create Update NFL Team Stats" %}
{% block body_attrs %} onload="onLoadNFLCreateUpdate();" {% endblock %}
{% block body %}
<h2>Create NFL Team Data</h2>
<div class="card-body">
    <p style="color:red" id="result"></p>
    <p class="card-text">
        <table width="100%">
            <tr><td>Team</td><td><input type="text" id="team_name"></td></tr>
            <tr><td>Division</td>
				<td>
					<select id="team_division">
					<option value="">Select a Division</option>
					<option value="NFC East">NFC East</option>
					<option value="NFC West">NFC West</option>
					<option value="NFC North">NFC North</option>
					<option value="NFC South">NFC South</option>
					</select>
					<!--<input type="text" id="team_division">-->
				</td>
			</tr>
            <tr><td>Games Played</td><td><input type="text" id="games_played"></td></tr>
            <tr><td>Games Won</td><td><input type="text" id="games_won"></td></tr>
            <tr><td>Games Lost</td><td><input type="text" id="games_lost"></td></tr>
            <tr><td>Games Drawn</td><td><input type="text" id="games_drawn"></td></tr>
            <tr><td>Games Played At Home</td><td><input type="text" id="games_played_at_home"></td></tr>
            <tr><td>Games Played Away</td><td><input type="text" id="games_played_away"></td></tr>
            <tr><td>Games Won At Home</td><td><input type="text" id="games_won_at_home"></td></tr>
            <tr><td>Games Won Away</td><td><input type="text" id="games_won_away"></td></tr>
            <tr><td>Games Lost At Home</td><td><input type="text" id="games_lost_at_home"></td></tr>
            <tr><td>Games Lost Away</td><td><input type="text" id="games_lost_away"></td></tr>
            <tr><td>Points For</td><td><input type="text" id="points_for"></td></tr>
            <tr><td>Points Against</td><td><input type="text" id="points_against"></td></tr>
            <tr><td>Playoffs</td>
				<td>
					<select id="play_offs">
					<option value="">Playoffs</option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
					</select><!--<input type="text" id="play_offs">-->
				</td>
			</tr>
        </table>
        <button id="createBtn" onclick="createTeam()" type="button">Create Team</button>
		<input type="hidden" id="teamid"/>
    </p>
</div>
{% endblock %}