{% extends "layouts/base.html" %}
{% set project = "NFL Team Challenge" %}
{% block body %}
<table style="width:100%" id="table">
    <tr>
        <th>Check for your Favorite NFL Team! Your favorite team's statistics will show the number of games they have played, their overall regular season record, and different statistics about the number of points they have scored and allowed. The last column shows if your team made the playoffs! You may also use the match predictor that uses an algorithm to predict which team will win using the team statistics!</th>
    </tr>
</table>
  <h2>NFL Team Showdown</h2>  
  <div class="card-body">
      <p style="color:red" id="result"></p>
      <p class="card-text">
          <table id="teams" width="100%">
              <tr><th>Team</th><th>Challenger</th></tr>
              <tr>
                <td id="team1">
                    <select name='team1_name' id='team1_name' onchange='javascript:showTeam1Stats()' >
                        <option value=''>Select Team</option>
                        {% for nfl_team in teams_data %}
                        <option value='{{ nfl_team.team }}'>{{ nfl_team.team }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td id="team2">
                    <select name='team2_name' id='team2_name' onchange='javascript:showTeam2Stats()' >
                        <option value=''>Select Team</option>
                        {% for nfl_team in teams_data %}
                        <option value='{{ nfl_team.team }}'>{{ nfl_team.team }}</option>
                        {% endfor %}
                    </select>
                </td>
              </tr>
              <tr><td id="team1_stats"></td><td id="team2_stats"></td></tr>
          </table>        
      </p>
  </div>
{% endblock %}